# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

components/editor.vue
components/upload.vue
assets/js/aliyun-oss-sdk.min.js
assets/js/placeholder.js
assets/js/particles.min.js
components/swiper.vue