html, body
{
  font-size: 13px;
  font-family: -apple-system,PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Helvetica Neue,sans-serif;
  color: #444;
  /*background-color:  #f7f8fa;*/
}

div {
  box-sizing: border-box
}

a {
  -webkit-transition: all,.5s,ease,0s;
  text-decoration: none
}

a:link, a:visited {
  color: #444;
}

a:hover, a:active {
  color: #da552f;
}


.body {
  padding-top: 70px;
}

svg {
  width: 20px;
  height: 20px;
  display: inline-block;
}