html, body
{
  font-size: 13px;
  font-family: -apple-system,PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Helvetica Neue,sans-serif;
  color: #444;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

div {
  box-sizing: border-box
}

a {
  -webkit-transition: all,.5s,ease,0s;
  text-decoration: none
}
a:focus, a:hover {
  text-decoration: none
}

a:link, a:visited {
  color: #444;
}

a:hover, a:active {
  color: #da552f;
}

a.ata:link, a.ata:visited {
  color: #08c;
}


.body {
  padding-top: 60px;
}

svg {
  width: 20px;
  height: 20px;
  display: inline-block;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: #f8f8f8;
}

.CodeMirror {
  font-size: 13px;
  font-family: -apple-system,PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Helvetica Neue,sans-serif!important;
  height: auto!important;
}

 .CodeMirror pre.CodeMirror-placeholder {
    color: #a2a1a1!important
  }

button > span {
  display: inline-flex;
  align-items: center;
}

button svg {
  margin-right: 3px;
}

.card {
  border: 0;
}

/*.btn {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 0.15rem;
  outline: none;
}*/